.contact {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
  }
  
  .contact .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .contact .image img {
    width: 100%;
    max-height: 800px;
  }
  
  .contact form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    padding: 2rem 7%;
  }
  
  .contact form .btn {
    width: 100%;
    padding:10px;
    text-align: center;
  }
  
  .contact form .btn:hover {
    background: hotpink;
  }
  
  .contact form h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: hotpink;
  }
  
  .contact form .box, .contact form textarea {
    width: 100%;
    border-bottom: 0.2rem solid black;
    border-width: .1rem;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
    padding: 1.5rem 0;
    margin: 1rem 0;
  }
  
  .contact form textarea {
    height: 15rem;
    resize: none;
  }